* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  color: $body-colour;
  font: 13px/1.4 "Lato", Calibri, Arial, sans-serif;
  font-weight: 400;
  background: $body-bg;
}

a {
  outline: medium none;
  text-decoration: none;
  &:hover, 
  &:focus {
    outline: medium none;
  }
}

p {
  margin: 0;
  padding: 0;
}