
$body-colour: #444;
$body-bg: #F8F8F8;


$widget-bg: #FFF;
$widget-border: 1px solid #E6E6E6;
$widget-header-colour: #FFF;
$widget-header-bg: #414c5a;
$widget-colour: #414c5a;

$widget-width: 840px;
$widget-border-radius: 5px;