<div class="ng-weather">
  <div ng-class="alert.alertClass" ng-show="alert.show">
    <p>{{ alert.message }}</p>
  </div>

  <div class="location">
    <h2>{{ widget.city.name }}</h2>
  </div>

  <ul class="days">
    <li ng-class="{'today': $first == true}" ng-repeat="day in widget.list | limitTo:days">
      <div class="details">
        <span class="day">{{ day.dt * 1000 | date:'d' }}</span>
        <p class="description" title="{{ day.weather[0].description }}">
          {{ day.weather[0].main }}
        </p>
        <img ng-src="{{ getIcon(day.weather[0].icon) }}">
      </div>
      <div class="temp">
        {{ day.temp.day | number : 0 }}&deg;
      </div>
      <div class="min-max">
        {{ day.temp.max | number : 0 }}&deg; <span class="max">max</span>
        {{ day.temp.min | number : 0 }}&deg; <span class="min">min</span>
      </div>
    </li>
  </ul>

</div>




